html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

:focus {
	outline: none;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.v-mid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

#left-part {
	
}

#right-part {
	background-color: blue;
	flex: 1;
}

#info #today {
	font-size: 3em;
	font-weight: bold;
}

#info .date {
	font-size: 2.5em;
}

#askOverlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba( 255, 255, 255, 0.7 );
	position: absolute;
	top: 0px;
	left: 0px;
}

#askOverlay.hidden {
	display: none;
}

#askOverlay .wrapper {
	width: 100%;
	text-align: center;
}

#askOverlay .wrapper h1 {
	font-size: 50px;
	text-align: center;
}

#askOverlay .wrapper .get_username {
	border: none;
	border-bottom: 2px #858585 solid;
	font-size: 32px;
	text-align: center;
}

