html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

:focus {
	outline: none;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }
}

@keyframes bounceOut {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
  }

  50%, 55% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
          animation-name: bounceOut;
  -webkit-animation-duration: .75s;
          animation-duration: .75s;
}


.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 100%;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.v-mid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

#left-part {
	position: absolute;
	top: 5vh;
	left: 50px;
	width: 360px;
	height: 80vh;
	border-radius: 10px;
	padding: 20px;
	background-color: rgba( 0, 0, 0, 0.75 );
	color: white;
}

#right-part {
	/*background-color: blue;*/
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

#info .info-title {
	border-bottom: 1px #c0c0c0 solid;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

#info #today {
	font-size: 3em;
	font-weight: bold;
}

#info .date {
	font-size: 2.5em;
}

#list .per {
	margin-bottom: 10px;
}

#list .per.pure-control-group label {
	width: 80px;
}

#list .per.pure-control-group input {
	padding: 5px 10px;
	width: 190px;
}

#list .per.pure-control-group select {
	width: 190px;
}

#list #add .pure-button {
	width: 35%;
	margin-left: 60%;
}

#food-list {
	border-top: 1px #c0c0c0 dashed;
	margin-top: 15px;
	padding-top: 20px;
	max-height: 240px;
	overflow: scroll;
}

#food-list li {
	height: 30px;
	position: relative;
	margin-bottom: 15px;
}

#food-list .box {
	width: 320px;
	height: 30px;
	/*background-color: red;*/
	position: absolute;
	top: 0px;
	left: 0px;
}

#food-list .box > div {
	display: inline-block;
	line-height: 30px;
	text-align: center;
}

#food-list .box .food {
	width: 25%;
	margin-right: 10%;
}

#food-list .box .days {
	width: 20%;
	margin-left: 5%;
	margin-right: 20%;
	color: #d4d4d4;
}

#food-list .box .delete {
	margin-left: 5%;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	line-height: 24px;
	background-color: #dcdcdc;
	color: black;
	cursor: pointer;
}

#food-list .box .delete:hover {
	background-color: #e32a00;
	color: white;
}

#askOverlay {
	width: 100vw;
	height: 100vh;
	background-color: rgba( 255, 255, 255, 0.7 );
	position: absolute;
	top: 0px;
	left: 0px;
}

#askOverlay.hidden {
	display: none;
}

#askOverlay .wrapper {
	width: 100%;
	text-align: center;
}

#askOverlay .wrapper h1 {
	font-size: 50px;
	text-align: center;
}

#askOverlay .wrapper .get_username {
	border: none;
	border-bottom: 2px #858585 solid;
	font-size: 32px;
	text-align: center;
	margin-bottom: 60px;
}

