.fridge {
	margin-bottom: 20px;
	width: 500px;
	height: 670px;
	background-image: url(../images/open.png);
	background-position: center;
	background-size: cover;
	position: relative;
}

.fridge > div {
	position: absolute !important;
	top: 150px;
	left: 250px;
	display: inline-block;
	max-width: 60px;
	
}
.fridge > div > img {
	display: block;
}

.fridge > div > span {
	opacity: 0;
}

.fridge > div > span.health {
	background-color: red;
	width: 100%;
	height: 10px;
	display: inline-block;
}

.fridge > div > span.show {
	opacity: 1;
}